.Parallax-content-heading, .Parallax-content-cta {
  border: solid green;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.Parallax-content-heading {
  background-color: #fff;
  width: 100%;
  padding: 40px;
}
.Parallax-content-heading-text {
  border: solid red;
  margin: 10px 0;
  font-size: 60px;
}
.Parallax-content-heading-caption {
  border: solid red;
  margin: 0;
  width: 100%;
  font-size: 20px;
}
.Parallax-content-cta {
  background-color: #ff737e;
  width: 100%;
  padding: 40px;
  font-size: 20px;
  color: #fff;
  margin-top: 120px;
}

section.route-section{
  border: solid red;
}