
/* .Parallax-content-cta-proj {
  background-color: #ff737e;
  border: solid white;
  border-radius: 1em;
  width: 80%;
  padding: 8em;
  font-size: 1.25em;
  color: #fff;
  margin-top: 5em;
} */

#back-button-link {
  margin-top: 4em;
  margin-right: 73%;
  position: fixed;
  text-decoration: none;
}

.back-button {
  background-color: rgb(31, 30, 30);
  border-radius: 0.2em;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 1em;
}
.back-button:hover {
  background-color: rgb(141, 32, 54);
  cursor:pointer;
} 

.Parallax-content-cta-ucook {
  background-color: #007c91;
  /* background-repeat: no-repeat; */
  /* border: solid grey; */
  border-radius: 1em;
  width: 70%;
  font-size: 1.0em;
  color: #fff;
  margin: 1em;
  display: flex;
  flex-direction: row;
  min-width: 30em;
  max-width: 70em;
}

#alt-background {
  background-color: #cc4d26;
}

.text-block-ucook {
  width: 100%;
  /* border: dashed red; */
  vertical-align: text-bottom;
  padding: 2em;
  line-height: 1.6;
}

.centred-img {
  height: auto;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid grey;
  border-radius: 1em;
}

#ucook-recipe {
  width: 18%;
  min-width: 15em;
  margin: 2em;
  
}

/* video wrapper from: https://css-tricks.com/fluid-width-video/ */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.route-section{
  border: solid blue;
  display: flex;
  align-items: center;
  flex-direction: column;
}