
/* .Parallax-content-cta-proj {
  background-color: #ff737e;
  border: solid white;
  border-radius: 1em;
  width: 80%;
  padding: 8em;
  font-size: 1.25em;
  color: #fff;
  margin-top: 5em;
} */

#proj-link {
  text-decoration: none;
}

.Parallax-content-cta-ucook {
  background-color: rgb(31, 30, 30);
  /* background-repeat: no-repeat; */
  border: solid white;
  border-radius: 1em;
  width: 67em;
  height:18em;
  /* padding: 8em; */
  font-size: 1.2em;
  color: #fff;
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  min-width: 700px;
}

.text-block-ucook {
  width: 73%;
  /* border: dashed red; */
  vertical-align: text-bottom;
  padding: 2em;
  line-height: 1.35;
}

.image-block-ucook {
  width:27%;
  padding: 8em;
  border-right: 0.20em solid white;
  overflow: hidden;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  font-size: 1em;
  /* border: solid red; */
}

#uCook {
  background-image: url("../../images/ucook.jpg");
  background-size: 28em;
  background-position: center;
}

.Parallax-content-cta-ucook:hover {
  background-size: 30em;
  transform: scale(1.02);
}

section.route-section{
  border: solid blue;
  display: flex;
  align-items: center;
  flex-direction: column;
}