.navbar ul{
  display: flex;
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  overflow: hidden;
  background-color: #292F36;
  /* float: right */
}
.navbar{
  border: dotted red;
  background-color: #292F36;
}
.navbar-container{
  border: dotted yellow;
  display: flex;
  justify-content: space-between;
}
.navbar-logo
{
  border: dotted green;
  display: flex;
  float: left;
}
.navbar li{
  border: dotted blue;
  display: flex;
  float: left;
}

.navbar li a{
  display: block;
  color: white;
  text-align: center;
  font-size: 1em;
  padding: 1em 2em;
  text-decoration: none;
}

#nav_active{
    background-color:#4ECDC4;
}

.navbar li a:hover{
    background-color: #404e66;
}
